<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.library.admin.modules.operationlog.mapper.OperationLogMapper">

    <resultMap type="com.library.admin.modules.operationlog.entity.OperationLog" id="OperationLogMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="requestIp" column="request_ip" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="methods" column="methods" jdbcType="VARCHAR"/>
        <result property="params" column="params" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="returnValue" column="return_value" jdbcType="VARCHAR"/>
        <result property="logType" column="log_type" jdbcType="INTEGER"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="browser" column="browser" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

</mapper>

